.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
}

.App-header {
  padding: 1em;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ui.form {
  width: 75%;
}

label, .header {
  color: white!important;
}

.question-group {
  margin-top: 2em;
}

.question-list, .radio-group {
  display: flex!important;
  flex-direction: column!important;
  align-items: center;
}

.field {
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
}

.ui.input {
  width: initial!important;
}

.radio-field {
  display: flex!important;
  flex-direction: column!important;
  align-items: center;
}

.radio-group {
  align-items: flex-start;
}

.field + .field {
  margin-top: 1em!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
